$color_red:                     #ce1126;
$color_blue:                    #0038a8;
$color_yellow:                  #fcd116;

$color_block:                   #880000;
$color_border:                  #008800;
$color_progress_bar_container:  #0000aa;

$color_violet:                   #8B328B;
$color_violet:                   #81007f;
$color_violet_1:                 #C969C9;
$color_violet_2:                 #D78ED7;
$color_violet_3:                 #E4B4E4;
$color_violet_4:                 #F2D9F2;
//$color_violet_4:                 #E4B4E4;
$color_violet_5:                 #F7E8F7;
$color_violet_5:                 #FCF7FC;


