$page_background:               #DE98F0;
$page_background:               #D8BAE0;
$label_color:                   #000;
$label_background:              #CC61E7;
$value_color:                   white;
$value_background:              #CC61E7;
$progress_bar_text_color:       white;
$progress_bar_fill:             #911AAF;
$progress_bar_background:       #DE98F0;
$progress_bar_background:       #CC61E7;
$label_link_color:              white;
