$debug_margin:          2px;
$debug_padding:         2px;
$debug_border_width:    3px;

@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700);

$font_sans: "IBM Plex Sans", "Roboto", sans;

body {
    background: $page_background;
}

main {
    margin: 10px;
}


$body_margin: 10px;

// Bootstrap extensions

.rounded-top-left {
    border-top-left-radius: .25rem !important;
}

.rounded-top-right {
    border-top-right-radius: .25rem !important;
}

.rounded-bottom-left {
    border-bottom-left-radius: .25rem !important;
}

.rounded-bottom-right {
    border-bottom-right-radius: .25rem !important;
}

// -----------------------------------------------------------------------------

$spacer_pv: 2px;

$label_percent_length: 110px;
$label_number_length: 150px;
$label_pv_length: ($label_percent_length + $label_number_length + $spacer_pv);
$label_long_length: $label_pv_length;

$spacer_length: 10px;
$spacer_sm_length: 2px;
$spacer_md_length: 6px;
$spacer_lg_length: 8px;
$spacer_xl_length: 10px;



/*
 * Arbitrarily chosen value at what width to break the summary contents
 * and wrap the right side content.
 */
$width_break: 500px;

$progress_bar_long_min_width: $width_break;
/*
 * The summary left side content width shrinks and grows.
 * On bigger screens, the width is always at 100% so it expands indefinitely.
 * On smaller screens, the width is computed to be equal to the right hand side
 * content so they appear vertically aligned.
 */
$progress_bar_long_max_width: ($label_pv_length + $spacer_pv + $label_pv_length + $spacer_pv + $label_number_length);
@media (min-width: 1200px) {
    $progress_bar_long_max_width: 100%;
}

/*
 * Arbitrarily chosen value when to break the detail contents
 * and wrap the right side content.
 *
 * Because the left side content contains a fixed width element and a dynamic
 * width element, we compute the minimum value based on some width, in
 * this case that's the width of the entire left side summary content.
 */
$progress_bar_short_min_width: ($width_break - $label_long_length - $spacer_pv);
//$progress_bar_short_min_width: ($width_break - $label_long_length);

$progress_bar_short_max_width: ($width_break - $label_long_length - $spacer_pv);
//$progress_bar_short_max_width: ($width_break - $label_long_length);
@media (min-width: 1200px) {
    $progress_bar_short_min_width: 0;
    $progress_bar_short_max_width: 100%;
}

//$detail_small_content: -webkit-calc((100% - (#{$spacer_pv} * 3) - (#{$spacer_length} * 2)) / 3);
$detail_small_content: calc((100% - (#{$spacer_pv} * 3) - (#{$spacer_length} * 2)) / 3);
$detail_small_content: calc((100% - (#{$spacer_length} * 2)) / 3);
//@media (min-width: 1200px) {
//    $detail_small_content: 100%;
//}



.width-full {
    width: 100% !important;
}

.height-summary {
    height: 60px;
}

.height-detail {
    height: 50px;
}

.height-small {
    height: 40px;
}



div.spacer-w {
    width: $spacer_sm_length;
    @media (min-width: 576px) {
        width: $spacer_sm_length;
    }
    @media (min-width: 768px) {
        width: $spacer_md_length;
    }
    @media (min-width: 992px) {
        width: $spacer_lg_length;
    }
    @media (min-width: 1200px) {
        width: $spacer_xl_length;
    }
}

div.spacer-w2 {
    width: $spacer_pv;
    min-width: $spacer_pv;
}

div.spacer-h {
    height: $spacer_sm_length;
    @media (min-width: 576px) {
        height: $spacer_sm_length;
    }
    @media (min-width: 768px) {
        height: $spacer_md_length;
    }
    @media (min-width: 992px) {
        height: $spacer_lg_length;
    }
    @media (min-width: 1200px) {
        height: $spacer_xl_length;
    }
}

div.fix-spacer-w {
    width: $spacer_length;
    min-width: $spacer_length;
    height: $spacer_length;
    min-height: $spacer_length;
}

div.fix-spacer-h {
    height: $spacer_length;
    min-height: $spacer_length;
}

div.fix-spacer-h2 {
    height: $spacer_pv + 0px;
    min-height: $spacer_pv + 0px;
}

div.spacer-h50 {
    height: 50px;
}

div.collapsible-vertical-divider {
    //width: $spacer_pv;
    width: $progress_bar_long_max_width;
    max-width: $progress_bar_long_max_width;
    min-width: $progress_bar_long_min_width;
    height: $spacer_pv;
    background-color: green;
}
@media (min-width: 1200px) {
    div.collapsible-vertical-divider {
        width: 0px;
        height: 0px;
    }
    background-color: green;
}

div.municipality_horizontal_divider {
    width: 0px;
    min-width: 0px;
    height: $spacer_length;
    min-height: $spacer_length;
    @media (min-width: 1200px) {
        width: 100%;
        min-width: 100%;
        height: 0px;
        min-height: 0px;
    }
}

/*
 * Spacer between the detail contents
 */
div.collapsible-vertical-spacer {
    width: $spacer_length;
    height: $spacer_length;
    @media (min-width: 1200px) {
        width: $spacer_pv;
        height: $spacer_pv;
    }
}

.font-size-20 {
    font-size: 20px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-24 {
    font-size: 24px;
}

.font-size-small {
    font-size: 24px;
}

.font-size-detail {
    font-size: 30px;
}

.font-size-summary {
    font-size: 34px;
}

.font-size-small-percent {
    font-size: 22px;
}

.font-size-detail-percent {
    font-size: 26px;
}

.font-size-summary-percent {
    font-size: 30px;
}



.bg-transparent {
    background: transparent;
}

.bg-label {
    background: $label_background !important;
}





div.height-small {
    div.font-size-small.font-weight-bold.text-align-middle {
        margin: 0;
        padding: 0;
        padding-top: 2px;
    }
    div.font-size-small.font-weight-bold.text-align-middle.text-uppercase {
        margin: 0;
        padding: 0;
        padding-top: 2px;
    }
}

div.height-detail {
    div.font-size-detail.font-weight-bold.text-align-middle {
        margin: 0;
        padding: 0;
        padding-top: 2px;
    }
    div {
        div.font-size-detail-percent.font-weight-bold.text-align-middle {
            margin: 0;
            padding: 0;
            padding-top: 5px;
        }
    }
    div.font-size-detail.font-weight-bold.text-align-middle.text-uppercase {
        margin: 0;
        padding: 0;
        padding-top: 2px;
    }
    div {
        span.font-size-detail-percent.font-weight-bold.text-center.text-align-middle {
            padding-top: 4px;
        }
    }
    // Special case for barangay details percentage
    div.progress-bar {
        span.font-size-detail-percent.font-weight-bold {
            margin: 0;
            padding: 0;
            padding-top: 0px;
        }
    }
}

div.height-summary {
    div.font-size-summary.font-weight-normal.text-align-middle {
        margin: 0;
        padding: 0;
        padding-top: 4px;
    }
    div.font-size-summary.font-weight-bold.text-align-middle {
        margin: 0;
        padding: 0;
        padding-top: 2px;
    }
    div.font-size-summary-percent.font-weight-bold.text-align-middle {
        margin: 0;
        padding: 0;
        padding-top: 6px;
    }
    div.font-size-summary.font-weight-bold.text-align-middle.text-uppercase {
        margin: 0;
        padding: 0;
        padding-top: 5px;
    }
}



.info-label-percent,
.info-label-value,
.info-label-pv,
.info-label-long,
.info-label-full,
.info-label-percent-proxy,
.info-label-value-proxy,
.info-label-pv-proxy,
.info-label-long-proxy,
.info-label-full-proxy {
    font-family: $font_sans;
    color: $label_color;
    background: $label_background;
    a {
        color: $label_color;
    }
}

.info-label-percent,
.info-label-percent-proxy {
    width: $label_percent_length;
    min-width: $label_percent_length;
}

.info-label-value,
.info-label-value-proxy {
    width: $label_number_length;
    min-width: $label_number_length;
}

.info-label-pv,
.info-label-pv-proxy {
    width: $label_pv_length;
    min-width: $label_pv_length;
}

.info-label-long,
.info-label-long-proxy {
    width: $label_long_length;
    min-width: $label_long_length;
}

.info-label-full,
.info-label-full-proxy {
    width: 100%;
    min-width: 100%;
}

.info-value-percent,
.info-value-number {
    font-family: $font_sans;
    color: $value_color;
    background: $value_background;
//    @if $debug_mode == 1 {
//        margin: $debug_margin;
//        padding: $debug_padding;
//        border: $debug_border_width solid $color_border;
//    }
}

.info-value-percent {
    width: $label_percent_length;
    max-width: $label_percent_length;
}

.info-value-number {
    width: $label_number_length;
    max-width: $label_number_length;
}

div.block {
    //border: 1px solid red;
    margin: 0;
}



// -----------------------------------------------------------------------------



div.progress {
    background-color: $progress_bar_background;
    div.progress-bar {
        background: $progress_bar_fill;
        span {
            color: $progress_bar_text_color;
        }
    }
}

// This progress bar is rendered in the barangay details page.
// It is the width of the percentage "div"
#special_progress_bar_percentage {
    span {
        width: $label_percent_length;
        max-width: $label_percent_length;
    }
}

#summary_title {
    margin: 0;
    min-width: $progress_bar_long_min_width;
    max-width: $progress_bar_long_max_width;
}

#summary_progress_bar {
    min-width: $progress_bar_long_min_width;
    max-width: $progress_bar_long_max_width;
}

#detail_left_content {
    min-width: $progress_bar_long_min_width;
    max-width: $progress_bar_long_max_width;
}

#detail_small_content {
    width: $detail_small_content;
    max-width: $detail_small_content;
    @media (max-width: 1200px) {
        width: 100%;
        max-width: 100%;
    }
}


a.geo_link {
   text-decoration: none;
}

a.geo_link:hover {
    color: $label_link_color;
}
