@import url(https://fonts.googleapis.com/css?family=Roboto:700);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:700);

$font_sans: "IBM Plex Sans", "Roboto", sans;

body {
    background: $page_background;
}

main {
    margin: 10px;
}
