---
layout: common
---

<section class="page_column_main">

<div class="d-flex flex-wrap justify-content-left">

{% assign barangay = site.data.barangays | where: "barangay_id", page.barangay_id %}

<div class="block flex-column flex-grow-1">
    <div class="spacer-h"></div>
    <div id="summary_title" class="info-label-full height-summary bg-label container rounded-top flex-grow-1">
        <div class="font-size-summary font-weight-bold text-uppercase text-left text-align-middle">{{ barangay[0].barangay }}</div>
    </div>
    <div class="fix-spacer-h2"></div>
    <div id="summary_progress_bar" class="progress height-summary rounded-bottom-left rounded-bottom-right rounded-0">
        <div class="progress-bar" role="progressbar" aria-valuenow="{{ barangay[0].current_percentage }}" valuemin="0" valuemax="100" style="width:{{ barangay[0].current_percentage }}%">
            <span class="font-size-summary-percent font-weight-bold">{{ barangay[0].current_percentage }}%</span>
        </div>
    </div>
    <div class="fix-spacer-h"></div>
</div>

<div class="spacer-w2"></div>

<div class="block d-flex">
    <div class="block">
        <div class="spacer-h"></div>
        <div class="info-label-pv height-summary bg-label rounded-top">
            <div class="font-size-summary font-weight-normal text-center text-align-middle">Current</div>
        </div>
        <div class="fix-spacer-h2"></div>
        <div class="block height-summary d-flex">
            <div class="info-value-number rounded-bottom-left">
                <div class="font-size-summary font-weight-bold text-center text-align-middle">{{ barangay[0].current_count }}</div>
            </div>
            <div class="spacer-w2"></div>
            <div class="info-value-percent rounded-bottom-right">
                <div class="font-size-summary-percent font-weight-bold text-center text-align-middle">{{ barangay[0].current_percentage }}%</div>
            </div>
        </div>
        <div class="fix-spacer-h"></div>
    </div>

    <div class="spacer-w2"></div>

    <div class="block">
        <div class="spacer-h"></div>
        <div class="info-label-pv height-summary bg-label rounded-top">
            <div class="font-size-summary font-weight-normal text-center text-align-middle">Target</div>
        </div>
        <div class="fix-spacer-h2"></div>
        <div class="block height-summary d-flex">
            <div class="info-value-number rounded-bottom-left">
                <div class="font-size-summary font-weight-bold text-center text-align-middle">{{ barangay[0].target_count }}</div>
            </div>
            <div class="spacer-w2"></div>
            <div class="info-value-percent rounded-bottom-right">
                <div class="font-size-summary-percent font-weight-bold text-center text-align-middle">{{ barangay[0].target_percentage }}%</div>
            </div>
        </div>
        <div class="fix-spacer-h"></div>
    </div>

    <div class="spacer-w2"></div>

    <div class="block">
        <div class="spacer-h"></div>
        <div class="info-label-value height-summary bg-label rounded-top">
            <div class="font-size-summary font-weight-normal text-center text-align-middle">Total</div>
        </div>
        <div class="fix-spacer-h2"></div>
        <div class="info-value-number height-summary rounded-bottom">
            <div class="font-size-summary font-weight-bold text-center text-align-middle">{{ barangay[0].total_voters }}</div>
        </div>
        <div class="fix-spacer-h"></div>
    </div>
</div>

</div>



<div class="fix-spacer-h"></div>



{% assign items = site.data.precincts | where: "barangay_id", page.barangay_id %}
{% for item in items %}
<div class="d-flex flex-wrap justify-content-left">
<div id="detail_left_content" class="block d-flex flex-grow-1">
    <div class="info-label-long height-detail bg-label container rounded-left">
        <div class="font-size-detail font-weight-bold text-uppercase text-left text-align-middle">
            {% comment %}
            <a href="{{ site.baseurl }}/municipalities/municipality_{{ item.id }}.html" class="geo_link">{{ item.name }}</a>
            {% endcomment %}
            {{ item.precinct }}
        </div>
    </div>
    <div class="spacer-w2"></div>
    <div class="progress height-detail flex-grow-1 rounded-0 rounded-top-right rounded-bottom-right">
        <div class="progress-bar rounded-0 rounded-top-right rounded-bottom-right" role="progressbar" aria-valuenow="{{ item.current_percentage }}" valuemin="0" valuemax="100" style="width:{{ item.current_percentage }}%">
            <span class="font-size-detail-percent font-weight-bold">{{ item.current_percentage }}%</span>
        </div>
    </div>
</div>

<div class="spacer-w2"></div>

<div class="block d-flex">
    <div class="block flex-column">
        <div class="block height-detail d-flex flex-row">
            <div class="info-value-number rounded-top-left rounded-bottom-left">
                <div class="font-size-detail font-weight-bold text-center text-align-middle">{{ item.current_count }}</div>
            </div>
            <div class="spacer-w2"></div>
            <div class="info-value-percent rounded-top-right rounded-bottom-right">
                <div class="font-size-detail-percent font-weight-bold text-center text-align-middle">{{ item.current_percentage }}%</div>
            </div>
        </div>
    </div>

    <div class="spacer-w2"></div>

    <div class="block flex-column">
        <div class="block height-detail d-flex flex-row">
            <div class="info-value-number rounded-top-left rounded-bottom-left">
                <div class="font-size-detail font-weight-bold text-center text-align-middle">{{ item.target_count }}</div>
            </div>
            <div class="spacer-w2"></div>
            <div class="info-value-percent rounded-top-right rounded-bottom-right">
                <div class="font-size-detail-percent font-weight-bold text-center text-align-middle">{{ item.target_percentage }}%</div>
            </div>
        </div>
    </div>

    <div class="spacer-w2"></div>

    <div class="block flex-column">
        <div class="info-value-number height-detail rounded">
            <div class="font-size-detail font-weight-bold text-center text-align-middle">{{ item.total_voters }}</div>
        </div>
    </div>
</div>
</div>

<div class="collapsible-vertical-spacer"></div>
{% endfor %}

</section>
